<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtsgt.mpos"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.dtsgt.base.appGlobals"
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.dtsgt.mpos.imprime_barras" />
        <activity android:name="com.dtsgt.mpos.desglose" />
        <activity
            android:name="com.dtsgt.mpos.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dtsgt.mpos.Menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.Clientes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_clientes"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.CliDet"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cli_det"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Venta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_venta"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ComDrop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_drop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.MessageBox"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_message"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.Producto"
            android:label="@string/title_activity_producto"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mpos.ProdCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_prod_cant"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.PedidoRes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pedido_res"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ObjRuta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_obj_ruta"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.ObjProd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_obj_prod"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.InvBodega"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_inv_bodega"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.ConsPrecio"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cons_precio"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.Pago"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pago"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Cobro"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cobro"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.Reimpresion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reimpresion"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Anulacion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_anulacion"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Deposito"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_deposito"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.ListaPromo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_lista_promo"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.DeposDoc"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_depos_doc"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.DescBon"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_desc_bon"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dtsgt.mpos.PicView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pic_view" />
        <activity
            android:name="com.dtsgt.mpos.ComWS"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_ws"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.DevolCli"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_devol_cli"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.DevCliCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_dev_cli_cant"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.Exist"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_exist"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mpos.DevolBod"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_devol_bod"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.ActDisp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_act_disp"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.MercLista"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_merc_lista"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.MercProp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_merc_prop"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.MercComp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_merc_comp"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.MercPreg"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_merc_preg"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.MercAct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_merc"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.CliNuevo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cli_nuevo"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.Recarga"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_recarga"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.RecargCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_recarg_cant"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.FacturaRes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_factura_res"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.FinDia"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_fin_dia"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.DepositoParc"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_deposito_parc"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.UtilPrint"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_util_print"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.PrintDialog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_print_dialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dtsgt.mpos.BonList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bon_list"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dtsgt.mpos.BonVenta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bon_venta"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dtsgt.mpos.DemoData"
            android:label="@string/title_activity_demo_data"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.DemoDataDlg"
            android:label="@string/title_activity_demo_data_dlg"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.CliPos"
            android:label="@string/title_activity_cli_pos"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.dtsgt.mpos.CliGPS"
            android:label="@string/title_activity_cli_gps"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.dtsgt.mpos.LicRegis"
            android:label="@string/title_activity_lic_regis"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.RecargaAuto"
            android:label="@string/title_activity_recarga_auto"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.CliNuevoApr"
            android:label="@string/title_activity_cli_nuevo_apr"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.SolicInv"
            android:label="@string/title_activity_solic_inv"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Aprofam1"
            android:label="@string/title_activity_aprofam1"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.Municipio"
            android:label="@string/title_activity_municipio" />
        <activity
            android:name="com.dtsgt.mpos.CliNuevoAprEdit"
            android:label="@string/title_activity_cli_nuevo_apr_edit"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.dtsgt.mpos.ComWSExist"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_wsexist"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.Tablas"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tablas"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.InicioDia"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tablas"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.RepesajeLista"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.Repesaje"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.dtsgt.mpos.DevolBodTol"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.DevolBodCan"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.Soporte"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ComWSPrec"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.nota_credito"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ayudante_vehiculo"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ComWSRec"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.BonBarra"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.UtilPrint2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.comWSLic"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.ComWSFotos"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dtsgt.mpos.WSTest"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.dtsgt.mpos.rating"
            android:label="Rating"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>