<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:hardwareAccelerated="true"
    android:installLocation="preferExternal"
    android:largeHeap="true"
    android:versionCode="5"
    android:versionName="4.2.10">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="Android.permission.REBOOT" />
    <uses-permission android:name="Android.permission.SHUTDOWN" />
    <uses-permission android:name="Android.permission.DEVICE_POWER" />

    <application
        android:name="com.dtsgt.base.appGlobals"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode,LockedOrientationActivity">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>


        <service
            android:name="com.dtsgt.webservice.srvInventConfirm"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvBase"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvPedidosImport"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.dtsgt.webservice.srvOrdenImport"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.dtsgt.webservice.srvPedidoDir"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvPedidoEstado"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvPedidosBitacora"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvOrdenEnvio"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.webservice.srvCommit"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dtsgt.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Clientes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_clientes"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".CliDet"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cli_det"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".Venta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_venta"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ComDrop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_drop"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".MessageBox"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".Producto"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_producto"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ProdCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_prod_cant"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".PedidoRes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pedido_res"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ObjRuta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_obj_ruta" />
        <activity
            android:name=".ObjProd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_obj_prod" />
        <activity
            android:name=".ConsPrecio"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cons_precio" />
        <activity
            android:name=".Pago"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pago"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".Cobro"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cobro"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Reimpresion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_reimpresion"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".Anulacion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_anulacion"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".Deposito"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_deposito"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ListaPromo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_lista_promo" />
        <activity
            android:name=".ListaProveedores"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_lista_proveedores" />
        <activity
            android:name=".DeposDoc"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_depos_doc"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".DescBon"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_desc_bon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PicView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pic_view" />
        <activity
            android:name=".ComWS"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_ws"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DevolCli"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_devol_cli"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".DevCliCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_dev_cli_cant"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Exist"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_exist"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DevolBod"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_devol_bod"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".ActDisp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_act_disp" />
        <activity
            android:name=".CliNuevo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cli_nuevo" />
        <activity
            android:name=".RecargCant"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_recarg_cant"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".FacturaRes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_factura_res"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FinDia"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_fin_dia"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".DepositoParc"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_deposito_parc"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".UtilPrint"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_util_print"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PrintDialog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_print_dialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".BonList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bon_list"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".BonVenta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_bon_venta"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".CliPos"
            android:label="@string/title_activity_cli_pos"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".CliGPS"
            android:label="@string/title_activity_cli_gps" />
        <activity
            android:name=".LicRegis"
            android:label="@string/title_activity_lic_regis"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RecargaAuto"
            android:label="@string/title_activity_recarga_auto"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".SolicInv"
            android:label="@string/title_activity_solic_inv"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".Aprofam1"
            android:label="@string/title_activity_aprofam1"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".ComWSExist"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_com_wsexist"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Tablas"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tablas"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InicioDia"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tablas"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RepesajeLista"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Repesaje"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".DevolBodCan"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Soporte"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ComWSPrec"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".nota_credito"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ayudante_vehiculo"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ComWSRec"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".comWSLic"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ComWSFotos"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WSTest"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".rating"
            android:label="Rating"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".EPrint" />
        <activity android:name=".desglose" />
        <activity
            android:name="com.dtsgt.mant.Lista"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantFamilia"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantEmpresa"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.dtsgt.mant.MantTienda"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantCorel"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantProducto"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantCli"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantVendedores"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantImpuesto"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantBanco"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantProveedor"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantMoneda"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantMediaPago"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantNivelPrecio"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantDescuento"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantCaja"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantRol"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantImpresora"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantEstacion"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.dtsgt.mant.MantImpModelo"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.dtsgt.mant.MantImpMarca"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".FingPTest" />
        <activity
            android:name=".ConfigCaja"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".VentaEdit"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ProdMenu"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantConfig"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantConfigRes"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Reportes"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.Lista2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantMotivoAjuste"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CierreX"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Caja"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CajaPagos"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantConceptoPago"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".WSRec"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.fel.FELFactura"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".WSEnv"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.fel.FELmsgbox"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InvAjuste"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ListaInventario"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ListaInventarioT"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InvRecep"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InvVista"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InvTrans"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PagoTarjeta"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".Pedidos"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PedidoDet"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InvEgreso"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name=".PedidoDet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PedidoCli"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ValidaSuper"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".SalaDis"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.fel.FELVerificacion"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.fel.FELContAnul"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MarcarFacturas"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResMesero"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantResMesa"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantResSala"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantResGrupo"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Orden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OrdenMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResCaja"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResCliente"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".CajaPagosPend"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Comensales"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DescMonto"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ValidaClave"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ImpresMsg"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".CliDirList"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dtsgt.mant.MantRepCierre"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CliDirDom"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".PrintView"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>